body {
    margin: 0;
    padding: 0;
    background-color: aqua;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .board {
        display: flex;
        flex-wrap: wrap;
        height: 33vw;
        width: 33vw;

        min-width: 200px;
        min-height: 200px;
        .square {
            display: flex;
            width: 32%;
            height: 33%;
            justify-content: center;
            align-items: center;

            color: white;
            font-weight: 700;
            font-size: 30px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

        }
        .full-border {
            border-right: 2px solid #fff;
            border-left: 2px solid #fff;
            border-top: 2px solid #fff;
            border-bottom: 2px solid #fff;
        }

        .inline-border {
            border-right: 2px solid #fff;
            border-left: 2px solid #fff;
        }

        .block-border {
            border-top: 2px solid #fff;
            border-bottom: 2px solid #fff;
        }
    }
} 